


   <a class="nav-link text-dark" asp-area="" asp-controller="Comics" asp-action="Insert">Insertar nuevo cómic</a>
            
   
@if (Model != null)
{
  <div class="card" style="width: 18rem; ">

        @foreach (Comic comic in Model)
        {
           

             <img src="@comic.Imagen" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">@comic.Nombre</h5>
                <p class="card-text">@comic.Descripcion</p>
              </div>
    
        }

</div>}


